/* login.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Optional: background color */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px; /* Increased width to accommodate padding and border */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* More shadow for emphasis */
    text-align: center;
}

h2 {
    color: #4CAF50; /* Adjust to match navigation bar color */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    margin-left:10px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50; /* Match with navigation color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45A049; /* Slightly darker shade */
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password:hover {
    text-decoration: underline;
}
